body {
    font-family: Arial, sans-serif;
    background-color: #fff0f5;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #c71585;
    margin-bottom: 40px;
}

#malla-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 20px;
    gap: 20px;
}

.semestre {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    gap: 10px;
    background-color: #ffe4ec;
    border-radius: 10px;
    padding: 10px;
    flex-shrink: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.semestre h2 {
    font-size: 1rem;
    text-align: center;
    colo
